@using T4TCase.ViewModel
@model OrderViewModel
@*@{ decimal TotalPrice = 0; }*@


    <h1>Order Page</h1>

@using (Html.BeginForm("Confirm", "Order"))
{
    <div>
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    
                    <th>Naam</th>
                    <th>Info</th>
                    <th>Aantal</th>
                    <th>Prijs</th>
                </tr>
            </thead>
            <tbody class="thead-inverse">
               @for (int i = 0; i < Model.Itemvms.Count(); i++)
               {
                @Html.HiddenFor(model => Model.Itemvms[i].ItemID)
                @Html.HiddenFor(model => Model.Itemvms[i].Name)
                @Html.HiddenFor(model => Model.Itemvms[i].Description)
                @Html.HiddenFor(model => Model.Itemvms[i].Price)
                    <tr>      
                        <td>@Html.DisplayFor(model => Model.Itemvms[i].Name)</td>
                        <td>@Html.DisplayFor(model => Model.Itemvms[i].Description)</td>
                        <td>@Html.TextBoxFor(model => Model.Itemvms[i].Aantal)
                            @Html.ValidationMessageFor(model => Model.Itemvms[i].Aantal)</td>                           
                        <td> @Html.DisplayFor(model => Model.Itemvms[i].Price) </td>
                    </tr>

                  // TotalPrice = @Html.Raw(Json.ToString(Model.Itemvms[i].Aantal));

               }

            </tbody>
        </table>
            <div class="t4tFormContentLeft">
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Description"></label>
                    <div class="col-10">
                        <input class="form-control"  asp-for="Description" />
                    </div>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.LastName"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.LastName" />
                    </div>
                    <span asp-validation-for="Customer.LastName"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.FirstName"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.FirstName" />
                    </div>
                    <span asp-validation-for="Customer.FirstName"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.Age"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.Age" />
                    </div>
                    <span asp-validation-for="Customer.Age"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.Email"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.Email" />
                    </div>
                    <span asp-validation-for="Customer.Email"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.PhoneNumer"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.PhoneNumer" />
                    </div>
                    <span asp-validation-for="Customer.PhoneNumer"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.Address"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.Address" />
                    </div>
                    <span asp-validation-for="Customer.Address"></span>
                </div>
                <div class="form-group row">
                    <label class="col-2 col-form-label" asp-for="Customer.City"></label>
                    <div class="col-10">
                        <input class="form-control" asp-for="Customer.City" />
                    </div>
                    <span asp-validation-for="Customer.City"></span>
                </div>
            </div>
        </div>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    // <p>Total price is @TotalPrice</p>
    // Model.totalprice = TotalPrice;


    <input type = "submit" class="btn btn-primary" value = "Confirm" />
}
